.message {
  font-weight: 600;
  color: blue;
}

.navbar {
  background-color: #002b5c;
  font-size: 1em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  padding: 8px 5px 8px 5px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar a:hover {
  color: #b9975b;
}

.navbar-brand {
  font-size: 1.2em;
  font-weight: 600;
}

.navbar-item {
  font-variant: small-caps;
  margin-left: 30px;
}

.body-content {
  padding: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.table {
  table-layout: fixed;
  width: 40%;
  text-align: left;
  border: 2px solid #b9975b;
  background-color: #002b5c;
}

thead th {
  color: white;
}

thead tr th {
  border: 2px solid #b9975b;
}

tbody tr:nth-child(odd) {
  background-color: #d31145;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: white;
}
